.container {
    margin: 0 auto;
    max-width: 1024px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    top: -1em;
    min-height: 100vh;
}

.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.section {
    background-color: var(--yellowColor);
    background-image: url('./../img/vintage-speckles.png');
    min-height: 3.75em; 
    margin: 1.25em;
    padding: 1.25em;
    border-radius: 0.313em;
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.5);
    line-height: 1.5em;
    color: var(--brownColor);
}

.section__title {
    position: relative;
    padding: 0 0.5em;
    font-family: 'Grand Hotel', serif;
    font-weight: 700;
    font-size: 2em;
    margin: 0 0 0 -0.625em;
    line-height: 1.875em;
    color: var(--brownColor);
    border-radius: 0 0.156em 0.156em 0;
    background-color: var(--grayColor);
    background-image: url('./../img/vintage-speckles.png');
    box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
}

.section__title::before, .section__title::after {
    position: absolute;
    content: '';
    display: block;
}

.section__title::before {
    width: 0.469em;
    height: 100%;
    padding: 0 0 0.438em;
    top:0;
    left: -0.469em;
    background:inherit;
    border-radius: 0.313em 0 0 0.313em;
}

.section__title::after {
    width: 0.313em;
    height: 0.313em;
    background: rgba(0,0,0,0.35);
    bottom: -0.313em;
    left: -0.313em;
    border-radius: 0.313em 0 0 0.313em;
    box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
}

.section__body_img {
    background-image: url('./../img/NotFoundResized.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 80vh;
}

.section__about {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.notfound {
    max-width: 100%;
    height: auto;
}

.section__left {
    width: 33%;
}

.section__right {
    width: 67%;
}

.section__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.buttons__row {
    display: inline-block;
}
.addtask {
    margin: 1em 0;

}

.inputfield {
    margin: 1em 0;
}

input[type=text], input[type=date] {
    width: 95%;
    padding: 0.6em 0.6em;
    font-size: larger;
}
input[type=text]:focus, input[type=date]:focus {
    background-color: var(--orangeColor);
}

.button {
    background-color: var(--brownColor);
    background-image: url('./../img/vintage-speckles.png');
    border: none;
    border-radius: 0.313em;
    color: var(--grayColor);
    padding: 0.8em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: var(--orangeColor);
}

.button:active {
    transform: translateY(0.25em);
}

.notfound {
    width: 100%;
    height: auto;
}

input[type=radio] + label{
    cursor: pointer;
}

input[type=radio]:checked + label {
    background-color: var(--orangeColor);
}

@media screen and (min-width: 1008px) {
    .container {
        width: 85%;
    }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  
    body{
      font-size:0.875em;
    }

    .container {
        width: 90%;
    }
    

    
  }

  @media screen and  (max-width: 640px) {
    body {
        font-size: 0.75em;
    }

    .container {
        width: 100%;
    }

    .content {
        display: block;
        width: 90%;
    }

    .section__left {
        width: 100%;
    }

    .section__right {
        width: 100%;
    }
  }