@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fascinate&family=Grand+Hotel&family=Monoton&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --blueColor: #388895;
    --grayColor: #e4f2ef;
    --yellowColor: #dddb76;
    --orangeColor: #ef694d;
    --brownColor: #42403f;
}

body {
    background-color: var(--blueColor);
    background-image: url('./img/xv.png');
    background-repeat: repeat;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 80%;  
}
