/*
    #FEDC3D - Butter
    #000000 - Black
    #01ABAA - Azure
    #FEA680 - Peach

    font-family: 'Bungee Shade', cursive;
    font-family: 'Fascinate', cursive;
    font-family: 'Fascinate Inline', cursive;
    font-family: 'Monoton', cursive;

*/

body {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    height: 100vh;
    width: 80%;
}

#header {
    height: 200px;
    margin: 0;
    position: relative;
    width: 100%;
}

#banner {
    position: absolute;
    display: block;
    margin: 50px 0px;
    width: 100%;
    height: 60px;
    border: 1px solid #fed934;
    background: #FEDC3D;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,0.15) inset, 0 6px 10px rgba(0,0,0,0.15);
}

#banner::before, #banner::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -70px;
    top: 24px;
    display: block;
    width: 40px;
    height: 0px;
    border: 30px solid #FEDC3D;
    border-right: 20px solid #fecf01;
    border-bottom-color: #fed41b;
    border-left-color: transparent;
    transform: rotate(-5deg);
}

#banner::after {
    left: auto;
    right: -70px;
    border-left: 20px solid #fecf01;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
}

#logo {
    background-color: #FEDC3D;
    border: 10px double #000000;
    border-radius: 50%;
    font-family: 'Bungee Shade', cursive;
    height: 140px;
    justify-content: center;
    line-height: 1.0;
    margin: 0;
    position: absolute;
    rotate: 330deg;
    text-align: center;
    -ms-transform: translateX(10%) translateY(10%);
    transform: translateX(10%) translateY(10%);
    width: 140px;
    box-shadow: 0 0 30px rgba(0,0,0,0.15) inset, 0 6px 10px rgba(0,0,0,0.15);
}

#form {
    margin-top: 30px;
}
